<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Price Predictor</title>
    <link rel="stylesheet" href="../static/car.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>

</head>
<body class="bg-dark">

<div class="container">
    <div class="row">
        <div class="card mt-50" style="width: 100%; height: 100%">
            <div class="card-header" style="text-align: center">
                <h1>Welcome to Car Price Predictor</h1>
            </div>
            <div class="card-body">
                <div class="col-12" style="text-align: center">
                    <h5>This app predicts the price of a car you want to sell. Try filling the details below: </h5>
                </div>
                <br>
                <form action="{{url_for('predict')}}" method="post" >
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Select the company</b>                  <ion-icon name="briefcase-outline"></ion-icon> 
                        </label><br>


                        <select class="selectpicker form-control" id="company" name="company" onchange="load_car_models(this.id,'car_models')" required>
                            <option value="">Select Company</option>
                            {% for company in companies %}
                            <option value="{{ company }}">{{ company }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Select the model</b>      <ion-icon name="car-sport-outline"></ion-icon> </label><br>
                        <select class="selectpicker form-control" id="car_models" name="car_models" required>
                            <option value="">Select model</option>
                        </select>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Select Year of Purchase</b> <ion-icon name="calendar-outline"></ion-icon></label><br>
                        <select class="selectpicker form-control" id="year" name="year" required>
                            <option value="">Select Year</option>
                            {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Select the Fuel Type </b> <ion-icon name="flame-outline"></ion-icon></label><br>
                        <select class="selectpicker form-control" id="fuel_type" name="fuel_type" required>
                            <option value="">Select Fuel Type</option>
                            {% for fuel in fuel_types %}
                            <option value="{{ fuel }}">{{ fuel }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Select Ownership</b> <ion-icon name="card-outline"></ion-icon></label><br>
                        <select class="selectpicker form-control" id="owner_type" name="owner_type" required>
                            <option value="">Select Owner Type</option>
                            {% for owner_type in owner_types %}
                            <option value="{{ owner_type }}">{{ owner_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Select Transmission type</b> <ion-icon name="cog-outline"></ion-icon></label><br>
                        <select class="selectpicker form-control" id="transmission_type" name="transmission_type" required>
                            <option value="">Select transmission Type</option>
                            {% for transmission_type in transmission_types %}
                            <option value="{{ transmission_type }}">{{ transmission_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <label><b>Enter the Number of Kilometres that the car has travelled</b> <ion-icon name="footsteps-outline"></ion-icon></label><br>
                        <input type="text" class="form-control" id="kilo_driven" name="kilo_driven"
                               placeholder="Enter the kilometres driven " required>
                    </div>
                    <div class="col-md-10 form-group" style="text-align: center">
                        <button  class="btn btn-primary form-control" type="submit">Predict Price</button>
                    </div>
                </form>
                <br>
                    <div class="col-md-11 form-group" style="text-align: center">
                        <button  class="btn btn-primary" style="background-color: #007bff; color: white; border: none;
                        outline: black;
                        align-items: center;
                        font-size: 1rem;
                        font-weight: 200;
                        padding: 1rem;
                        border-radius: 0.1rem;
                        cursor: pointer;" onclick="location.href='{{url_for('home')}}'">Home Page</button>
                    </div>
                <br>
                <div class="row">
                    <div class="col-12" style="text-align: center">
                        <h4><span id="prediction">{{prediction_text}}</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function load_car_models(company_id,car_model_id)
    {
        var company=document.getElementById(company_id);
        var car_model= document.getElementById(car_model_id);
        console.log(company.value);
        car_model.value="";
        car_model.innerHTML="";
        {% for company in companies %}
            if( company.value == "{{ company }}")
            {
                {% for model in car_models %}
                    {% if company in model %}

                        var newOption= document.createElement("option");
                        newOption.value="{{ model }}";
                        newOption.innerHTML="{{ model }}";
                        car_model.options.add(newOption);
                    {% endif %}
                {% endfor %}
            }
        {% endfor %}
    }

    // function form_handler(event) {
    //     event.preventDefault(); // Don't submit the form normally
    // }
    // function send_data()
    // {
    //     document.querySelector('form').addEventListener("submit",form_handler);

    //     var fd=new FormData(document.querySelector('form'));

    //     var xhr= new XMLHttpRequest({mozSystem: true});

    //     xhr.open('POST','/predict',true);
    //     document.getElementById('prediction').innerHTML="Wait! Predicting Price.....";
    //     xhr.onreadystatechange = function(){
    //         if(xhr.readyState == XMLHttpRequest.DONE){
    //             document.getElementById('prediction').innerHTML="Prediction: ₹"+xhr.responseText;

    //         }
    //     };

    //     xhr.onload= function(){};

    //     xhr.send(fd);
    // }
</script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>