<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!--Link to JS-->
    <script src="../static/home.js" defer ></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--Link to css-->
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <header>
        <!--Nav container-->
        <div class="nav container">
            <!--Menu items-->
            <ion-icon name="grid-outline" id="menu-icons"></ion-icon>
            <!--logo-->
            <a href="#" class="logo">Car<span>  points</span></a>
            <!-- navlist -->
            <ul class="navbar">
                <li> <a href={{url_for('home')}} class="active">HOME</a></li>
                <li> <a href={{url_for('cars')}}>Cars</a></li>
                <li> <a href="#about">About</a></li>
                <li> <a href="#">Community</a></li>
            </ul>
            <!--Search icon-->
            <ion-icon name="search-outline" id="search-icon"></ion-icon>
            <!--Search icon-->
            <div class="search-box container"> 
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
            <div class="login">
                <a href={{url_for('signup')}}>
                <button class="btn btn1" >Login</button>
                </a>
            </div>
        </div>
    </header>
    
    <section class="home" id="home">

        <div class="home-text">
            <h1>We have Everything <br> your <span>Car</span> needs </h1>
            <p> this new car</p>
            <!--Home -button-->
            <a href="#" class=" btn3">Discover now</a>
        </div>
    </section>    
    <!--Cars section-->
    <section class="cars" id="cars">
        <div class="heading">
            <span>All Cars</span>
            <h2>We have all Car types</h2>
            <p>Welcomet to our store</p>
        </div>
    <!-- BoX-1 -->
        <div class="cars-container container">
            <div class="box">
                <img src="../static/img/car1.jpg" alt="">
                <h2> Porshe car</h2>
            </div>
        
        <!-- BoX-2 -->
        
            <div class="box">
                <img src="../static/img/car2.jpg" alt="">
                <h2> Porshe car</h2>
            </div>
        
        <!-- BoX-1 -->
        
            <div class="box">
                <img src="../static/img/car3.jpg" alt="">
                <h2> Porshe car</h2>
            </div>
        
        <!-- BoX-1 -->
        
            <div class="box">
                <img src="../static/img/car4.jpg" alt="">
                <h2> Porshe car</h2>
            </div>
        
        <!-- BoX-1 -->
        
            <div class="box">
                <img src="../static/img/car5.jpg" alt="">
                <h2> Porshe car</h2>
            </div>
        
        <!-- BoX-1 -->
        
            <div class="box">
                <img src="../static/img/car6.jpg" alt="">
                <h2> Porshe car</h2>
            </div>
        </div>
    </section>

    <!-- About us -->
    <section class="about container" id="about"> 
        <div class="about-img">
        <img src="../static/img/about.png" alt="">
        </div>
        <div class="about-text">
            <span>About us</span>
            <h2>Cheap Car prices with<br>Quality Cars</h2>
            <p>Best cars</p>
            <!-- About button -->
            <a href="#" class="btn3">learn more</a>


        </div>
    </section>
    <!-- FOOTER -->
    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box">
                <a href="#home" class="logo">Cars<span>Point</span></a>
                <div class="social">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
                    
                </div>
            </div>
            <div class="footer-box">
                <h3>Page</h3>
                <a href="#">Home</a>
                <a href="#">Cars</a>
                <a href="#">Community</a>
                <a href="#">Support</a>

            </div>

            <div class="footer-box">
                <h3>Contact</h3>
                <a href="#">Mumbai</a>
                <a href="#">Japan</a>

        </div>
    

    </section>

</body>
</html>